.includedRecord{
    display: flex;
    justify-content: space-around;
    font-size: 1.3ch;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--dark-blue);
    width: 40vw;
    background-color: white;
    
}
.delItemBtn{
    background: none;
    outline: none;
    border: 2px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border-radius: 10px;
    background-color: var(--red);
}

.delItemBtnImg{
    width: 30px;
    height: 30px;
}

.delItemBtn:hover{
    background-color: red;
}
.delItemBtn:active{
    background-color: orange;
}

.recordBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    overflow-x: auto;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    min-width: 45vw;
    background-color: var(--light-blue);
}


.inputDiag {
    background-color: var(--blue-white);
    margin: auto;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    width: 90vw;

}

.inputDiag::backdrop {
    background-color: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(3px);
}

.btnFrame{
    display: flex;
    justify-content: center;
}

.records{
    display: flex;
    flex-direction: column;
}

.recordData{
    display: grid;
    text-align: center;
    gap: 10px;
    width: 100%;
    grid-template-columns: 0.5fr 1fr 2fr 0.5fr 0.5fr;
}

.editItemButton{
    color: var(--blue-white);
    background-color: var(--light-green);
    border: 0;
    border-radius: 10px;
    font-size: 3ch;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.editItemButton:hover{
    background-color: var(--light-blue);
}
.editItemButton:active{
    background-color: var(--dark-green);
}
