.summaries>.data>.dataBox {
    display: grid;

    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    gap: 10px;

}

.summaries>.data>.dataBox2 {
    display: grid;
    border-radius: 10px;
    border-radius: 10px;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    gap: 10px;
}

.dBox {
    padding: 5px;
    background-color: rgb(197, 233, 197);
    display: flex;
    border-radius: 10px;
    color: rgb(75, 80, 85);
    padding: 10px;

}

.boxDesc {
    width: 80%;

    line-height: 1.2ch;

}

#finNum,
#sentNum,
#incNum,
#penNum {
    text-align: end !important;
}

.summaries>.buttonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 2px solid gray;
    height: 6vh;
}

.summaries>.buttonGrid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid gray;
    height: 6vh;
}

.viewButton {
    margin: auto;
}

.btn {
    padding: 5px;
    font-size: 1.6ch;
    font-weight: bolder;
    color: var(--blue-white);
    border: 0;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.btn:hover {
    background-color: var(--bg);
    color: black;
}

.btn:active {
    background-color: seagreen;
    color: var(--blue-white);
}

