.searcherSorter {
    text-align: center;
    font-size: 2ch;
    margin-bottom: 5px;

}

.searcherSorter>form {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.searchForm{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
#searchBar {
    font-size: 1.7ch;
    outline: none;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid var(--light-green);
    width: 30vw;
    transition: all 0.2s ease-in-out;
}

#searchBar:focus {
    border: 2.5px solid var(--bg);
    box-shadow: 0 1px 5px 0 var(--dark-green);
}

.searchBtn {
    padding: 5px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: 1.3ch;
    font-weight: bold;
    color: var(--blue-white);
    background-color: var(--light-blue);
    transition: all 0.2s ease-in-out;
}

.searchBtn:hover{
    background-color: var(--light-green);
}
.searchBtn:active{
    background-color: var(--dark-blue);
}

.lblDis{
    font-size: 1.4ch;
}
#incDisabled{
    width: 2em;
    height: 2em;
    cursor: pointer;
    border-radius: 10px;
}
#onlyDisabled{
    width: 2em;
    height: 2em;
    cursor: pointer;
    border-radius: 10px;
}
.opts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    background-color: var(--light-blue);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
    color: var(--blue-white);
}

.shrinker{
    width: 75% !important;
}
.widener{
    font-size: 1.5ch !important;
    padding: 15px !important;
}
.recChkBox{
    width: 2vw;
    height: 2vw;
}