.container2{
    padding: 5px;
    border: 2px solid;
    height: 80vh;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.extendWidth {
    width: 100% !important;
}

.restrictWidth{
    width: 20vw !important;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}